
/* 框架 */

/* header */
.m-header { height: 50px; position: fixed; width: 100%; top: 0px; left: 0px; background-color: #f5f5f5; }
.m-header h4.logo { position: absolute; left: 20px; top: 7px; }
.m-header ul.link { position: absolute; right: 20px; }
.m-header ul.link li { float: left; margin-left: 25px; height: 50px; line-height: 50px; }
.m-header ul.link li.user img { float: left; margin: 8px 10px 0 0; }
.m-header ul.link li.user p { float:left; }
.m-header ul.link li.syst a { background: url(../images/common/f_ico10.png) no-repeat; padding-left: 20px; }
.m-header ul.link li.flow a { background: url(../images/common/f_ico04.png) no-repeat; padding-left: 20px; }
.m-header ul.link li.help a { background: url(../images/common/f_ico05.png) no-repeat; padding-left: 20px; }
.m-header ul.link li.exit a { background: url(../images/common/f_ico09.png) no-repeat; padding-left: 20px; }
.m-container { zoom: 1; overflow: hidden; padding-top: 50px; }

/* nav */
.m-nav { width: 40px; background: #008ad5; position: fixed; top: 50px; left: 0px; height: 100%; z-index: 500; }
.m-nav ul { padding-top: 30px; }
.m-nav li { width: 40px; padding: 20px 0px; cursor: pointer; text-align: center; position: relative; }
.m-nav li span { display: block; text-align: center; color: #fff;}
.m-nav li:hover { background: #0064b2; }
.m-nav li dl { display: none; position: absolute; left: 40px; top: 0px; width: 150px; background: #0062b1; opacity: 0.9; }
.m-nav li dl dd { border-bottom: 1px solid #00557f;}
.m-nav li dl dd a { background: #0062b1; height: 38px; display: block; line-height: 38px; text-align: left; padding-left: 20px; border-bottom: 1px solid #027dba; color: #fff; }
.m-nav li dl dd a:hover { background: #0c5d9e; }

/* container */
.m-main { margin-left: 40px; }
.m-tabList { height: 25px; background: #f5f5f5 url(../images/common/f_tabs_line.png) repeat-x bottom; position: relative; }
.m-tab-left, .m-tab-right { position: absolute; top: 0px; width: 16px; height: 23px; border: 1px solid #d7d7d7; cursor: pointer; z-index: 1000; }
.m-tab-left { left: 0px; background: #fff url(../images/common/f_tabs_leftarrow.png) no-repeat center; }
.m-tab-right { right: 0px; background: #fff url(../images/common/f_tabs_rightarrow.png) no-repeat center; }
.m-tab-list { float: left; margin-left: 20px; display: inline; height: 26px; width: 97%; position: relative; overflow: hidden; }
.m-tab-list ul { position: absolute; left: 0px; top: 0px; height: 26px; width: 5000px; }
.m-tab-list ul li { line-height: 23px; float: left; cursor: pointer; padding: 0 10px; border-top: 2px solid #999; border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; background: #d8d8d8; margin: 0 5px; }
.m-tab-list ul li span { float: left; display: inline-block; margin-right: 3px; }
.m-tab-close { float: left; font-size: 1px; display: block; width: 16px; height: 16px; border-radius: 16px; margin-top: 4px; background: url(../images/common/f_closeN.png) no-repeat center; }
.m-tab-close:hover { border: 1px solid #9a9a9a; width:14px; height:14px; }
.m-tab-list ul li.on, .m-tab-list ul li:hover { background: #fff; border-top: 2px solid #0062b1; border-left: 1px solid #cacaca; border-right: 1px solid #cacaca; }
.m-tab-list ul li.on a { color: #0062b1; }
.m-tab-content { width: 100%; overflow:hidden; float:left; }

/* 右键选项 */
.m-menu { display: none; width: 120px; height: 102px; position: absolute; padding: 2px; border-width: 1px; border-style: solid; overflow: hidden; background-color: #ffffff; border-color: #ddd; color: #444; }
.menu-line { position: absolute; left: 26px; top: 0; height: 100px; font-size: 1px; border-left: 1px solid #ddd; border-right: 1px solid #fff; }
.menu-item { height: 22px; position: relative; margin: 0; padding: 0; overflow: hidden; white-space: nowrap; cursor: pointer; border-width: 1px; border-style: solid; border-color: transparent; }
.menu-text { height: 20px; line-height: 20px; float: left; padding-left: 28px; }
.menu-sep { margin: 3px 0px 3px 25px; font-size: 1px; border-top: 1px solid #ddd; border-bottom: 1px solid #fff; }
.menu-active { border-color: #ddd; color: #444; background: #E6E6E6; }
